@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.landing {
  background-image: url("/assets/images/bg.jpg");
  background-repeat: no-repeat;
}

.brander {
  background-image: url("/assets/images/training-fighters.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@supports (-webkit-text-stroke: 4px) {
  .text-stroke-8 {
    -webkit-text-stroke: 8px;
  }
  .text-stroke-4 {
    -webkit-text-stroke: 4px;
  }
}

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue'), local('Helvetica'),
    url('/assets/fonts/helvetica/HelveticaNeueLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}